.DS_Store
._*
*.o
*.pyc
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.mp4
*.csv
*.png
.ipynb_checkpoints
.vscode

# Some folders
blib.egg-info
blib_py.egg-info
src/blib/database
build
data
dist
figs

# Caches
*.sqlite

# Log files
files.txt

