.DS_Store
._*
*.o
*.pyc
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.mp4
*.csv
*.png
.ipynb_checkpoints

# Some folders
blib.egg-info
blib_py.egg-info
build
data
dist
figs

# Caches
*.sqlite

# Log files
files.txt

